{% extends 'base.html' %}

{% block content %}

{% if category_posts %}
<h1> {{ cats }} Categories</h1>
<ul>
{% for post in category_posts %}

<li><a href="{% url 'article-details' post.pk %}">
    
    <p> <strong>Posted on: </strong>{{ post.post_date }}<p>
     
     <title>{{ post.title }} </a>- {{ post.author.first_name }} </title>
     {{ post.author.last_name }} -
     <small>
         {% if user.is_authenticated %}
    <a href="{% url 'update_post' post.pk %}"> Edit</a><br>
    <a href="{% url 'delete_post' post.pk %}"> Delete</a><br>
          {% endif %}
 
     <br/>
 
     </small> 
     {{ post.body | slice:":200" | safe }}</li>
{% endfor %}
</ul>
{% else %}

<h2>Sorry this page does not exist</h2>
{% endif %}

{% endblock %}