{% extends 'base.html' %}

{% block content %}
<h1>Posts</h1>

<ul>
{% for post in object_list %}
Current user is: {{ user.id }}
<li><a href="{% url 'article-details' post.pk %}"> {{ post.title }} - {{ post.author.id }} </a>
    
   <p> <strong>Posted on: {{ post.post_date }} </strong><p>
    <!-- Debug output -->



    
    <a href="{% url 'category' post.category  %}"> <strong> {{ post.category|slugify }}</strong></a>
  
    <title></a>- {{ post.author}} </title>
                 {{ post.author.last_name }} - <small>
                 {% if user.is_authenticated %}
                 <a href="{% url 'update_post' post.pk %}"> Edit</a><br>
                 <a href="{% url 'delete_post' post.pk %}"> Delete</a><br>
                 {% endif %}

    <br/>

    </small>
    {{ post.body }}</li>


    {% endfor %}
</ul>

{{ cat_menu }}

{% endblock %}